<configuration>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/application.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.husky.container.context.ClassPathApplicationContext" level="debug">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="com.husky.container.reader.XMLBeanDefinitionReader" level="debug">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="com.husky.container.reader.XMLValidator" level="debug">
        <appender-ref ref="FILE"/>
    </logger>

</configuration>
